<?xml version="1.0" encoding="utf-8" ?>
<configuration>
...
  <appSettings>
    <add key="user" value="eleandrorodrigue_5eVxb4"/>
    <add key="key" value="hYJQp72XafMw9193GENm"/>
    <add key="server" value="hub.browserstack.com"/>
  </appSettings>
    
  <capabilities>
    <first>
      <add key="project" value="NUnit Android"/>
      <add key="build" value="browserstack-build-1"/>
      <add key="name" value="first_test"/>
      <add key="browserstack.debug" value="true"/>
      <add key="app" value="bs://e2f569920263aed2bcec2a549aaeba44121ac4cf"/>
    </first>
      ...
  </capabilities>
  <environments>
    <pixel-3>
      <add key="device" value="Samsung Galaxy S20"/>
      <add key="os_version" value="10.0"/>
    </pixel-3>
  </environments>
</configuration>